.thMoviesList {
    overflow: hidden;
}

.thMoviesItem {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    text-align: center;
}

.thMoviesItem .cover {
    width: 120px;
    height: 180px;
    margin: 0 auto;
    display: block;
    /* float: left; */
}

.thMoviesItem .thMovieDetail {
    /* margin-left: 10px; */
    padding: 4px 8px;
    color: #999;
}

.movieApp {
    width: 100%;
    padding-bottom:0.2667rem;
    margin-bottom: 1.0567rem;
    box-shadow:0 2px 4px #333;
}

.banner {
    width: 100%;
    background-color: #171D28;
    padding: 0.2667rem 0 0;
}

.banner-searchbox {
    padding: 0 0.32rem;
}

.ib-location {
    display: inline-block;
    width: 1.3333rem;
}

.ib-searchbox-container {
    display: inline-block;
    width: 7.7333rem;
    margin-left: 0.2667rem;
}

.b-searchcontrol {
    font-size: 14px;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
    box-sizing: border-box;
    padding: 0 0.2667rem;
    color: #333;
}

.banner-b-active-wrapper {
    padding: 20px 0 0.5867rem;
}

.banner-b-active-list {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.banner-ib-active-item {
    display: inline-block;
}

.banner-ib-active-item~.banner-ib-active-item {
    margin-left: 0.24rem;
}

.b-title {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner .line-b-solid {
    margin: 0 0.32rem;
}

.sectionbox-wrapper {
    background-color: #171D28;
}

.hotmovies-sectionbox {
    padding-top: 0.8rem;
}

.sectionbox-wrapper .sectionbox-g-titlebox {
    margin: 0 0.32rem;
}

.sectionbox-g-titlebox .morebtn {
    color: #7a8994;
    line-height: 0.6667rem;
    text-decoration: none;
}

.sectionbox-g-titlebox .morebtn:hover {
    text-decoration: none;
}

.sections-g-bodybox {
    margin-top: 0.6667rem;
}

.hotmovies-wrapper {
    overflow: hidden;
}
.hotmovies-container{
    overflow: auto;
}

.hotmovies-list {
    margin:0 0.3467rem;
}

.hotmovies-item {
    float: left;
    width: 2.8rem;
}

.hotmovies-item~.hotmovies-item {
    margin-left: 0.24rem;
}
.hotmovies-box{
    font-size:0;
}
.moviecover {
    width: 2.8rem;
    height: 4.1333rem;
    border-radius: 0.1067rem;
    -webkit-border-radius: 0.1067rem;
    -moz-border-radius: 0.1067rem;
    -ms-border-radius: 0.1067rem;
    -o-border-radius: 0.1067rem;
}
.b-descbox{
    margin-top:0.2933rem;
}
.moviename{
    line-height: 1;
    font-size:16px;
    color:#fff;
    overflow: hidden;
    height: 16px;
}
.moviename a{
    color:#fff;
}
.moviename a:active,
.moviename a:link{
    color:#fff;
    text-decoration:none;
}
.starbox-wrapper{
    display: block;
}
.star-list{
    display: inline-block;
    width: 1.6533rem;
    margin-right: 0.2667rem;
    vertical-align: middle;
}
.star-item{
    display: inline-block;
    width: 0.2667rem;
    color:#fff;
}
.star-item.act{
    color:rgb(250,153,0);
}
.star-item~.star-item{
    margin-left:0.08rem;
}
.star-item .star{
    font-size:12px;
}
.score{
    font-size:16px;
    vertical-align: middle;
    color:#F2108D;
}

.recommendedmovies-sectionbox{
    padding-top:0.9333rem;
}
.pagations-wrapper{
    padding-top:0.1867rem;
}
.pagations-item{
    display: inline-block;
    height:0.16rem;
    width:0.16rem;
    color:#fff;
    vertical-align: middle;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: #fff;
}
.pagations-item.act{
    color:#F2108D;
    background-color: #f2108d;
}
.pagations-item~.pagations-item{
    margin-left: 0.12rem;
}
.recommendedmovies-wrapper{
    overflow: hidden;
}
/* .recommendedmovies-container{
} */
.recommendedmovies-list{
    padding-left:0.32rem;
    width:2000px;
}
.recommendedmovies-item{
    display: inline-block;
}
.recommendedmovies-item~.recommendedmovies-item{
    margin-left:0.2rem;
}
.recommendedmovies-box .moviecover{
    width: 8.8rem;
    height:4.8rem;
    border-radius:0.1067rem;
    -webkit-border-radius:0.1067rem;
    -moz-border-radius:0.1067rem;
    -ms-border-radius:0.1067rem;
    -o-border-radius:0.1067rem;
}
.recommendedmovies-box .actors-wrapper{
    margin-top:0.1333rem;
    color: #999;
}
.recommendedmovies-box .actors-wrapper .actor-item{
    font-size:12px;
}

.soonmovies-sectionbox{
    padding-top:0.8rem;
}
.soonmovies-wrapper{
    overflow: hidden;
}
.soonmovies-list{
    width:2000px;
    padding-left:0.32rem;
}
.soonmovies-item{
    display: inline-block;
}
.soonmovies-item~.soonmovies-item{
    margin-left:0.2133rem;
}
.soonmovies-item .moviecover{
    width: 3.5067rem;
    height:5.2rem;
    border-radius:0.1067rem;
    -webkit-border-radius:0.1067rem;
    -moz-border-radius:0.1067rem;
    -ms-border-radius:0.1067rem;
    -o-border-radius:0.1067rem;
}
.release-wrapper{
    margin-top:0.2133rem;
}
.icon-clock{
    display: inline-block;
    width: 0.32rem;
    height: 0.32rem;
    margin-right:0.24rem;
    background-color: #f2108d;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.i-release-date{
    color:#F2108D;
}

.groomblock-wrapper{
    width:100%;
    background-color: #171D28;
}
.groomblock-container{
    padding:1.3333rem 0.32rem 0;
    box-sizing: border-box;
}
.groomblock-list{
    margin-right:-0.24rem;
}
.groomblock-item{
    display: inline-block;
    margin:0 0.24rem 1.0667rem 0;
}
.groomblock-box{
    position: relative;
    display: inline-block;
    width: 4.56rem;
    height:1.8667rem;
    box-sizing:border-box;
    background-color: #15E9FB;
    border-radius:0.1067rem;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}
.groomblock-box .cover-wrapper{
    position: absolute;
    z-index: 1;
    left: 0.3467rem;
    bottom: 0.4rem;
    width: 1.4667rem;
    height:2rem;
    overflow: hidden;
    box-shadow:0 0 4px #333;
    border-radius:0.1067rem;
    -webkit-border-radius:0.1067rem;
    -moz-border-radius:0.1067rem;
    -ms-border-radius:0.1067rem;
    -o-border-radius:0.1067rem;
}
.groomblock-box .cover-wrapper img{
    height:100%;
    width: 100%;
}
.groomblock-box .desc-wrapper{
    padding-left:2.1333rem;
    color:#fff;
}
.groomblock-box .desc-wrapper .block-titlebox{
    margin-top:0.4rem;
}
.groomblock-box .desc-wrapper .block-titlebox .block-title-txt{
    font-size:16px;
}
.block-titlebox,.block-titlebox-sub{
    width: 1.7333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.commentbox-sectionbox .commentbox-wrapper{
    padding:0.32rem;
}
.commentbox-wrapper .b-videobox{
    width: 100%;
}
.commentbox-wrapper .b-videobox .poster{
    width: 100%;
}
.commentbox-descbox-wrapper{
    padding-top:0.4933rem;
    margin-bottom:0.5067rem;
}
.commentbox-descbox-wrapper .desc-wrapper{
    margin-top: 0.3467rem;
}
.commentbox-descbox-wrapper .desc-wrapper .desc-txt{
    font-size:14px;
    line-height:1.5;
    color:rgb(68,81,121);
}
.avatorbox-wrapper{
    padding-top:0.24rem;
}
.avator-wrapper,.username-wrapper,.extratxt-wrapper{
    display: inline-block;
    vertical-align: middle;
}
.avator-wrapper{
    width: 0.8533rem;
    height: 0.8533rem;
    margin-right:0.1867rem;
    overflow: hidden;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.avator-wrapper .avator{
    width: 100%;
    height: 100%;
}
.username-wrapper{
    color:#9e0e5e;
    margin-right:0.16rem;
}
.extratxt-wrapper{
    color:#52636d;
}
.commentbox-container{
    margin-top:0.5333rem;
}
.commentbox-item~.commentbox-item{
    margin-top:0.2933rem;
}
.commentbox-box{
    padding:0 0.32rem;
}
.coverbox-wrapper{
    display: inline-block;
    width: 2.5333rem;
    height:3.7333rem;
    margin-right:0.3467rem;
    vertical-align:top;
    overflow: hidden;
    border-radius:0.1067rem;
    -webkit-border-radius:0.1067rem;
    -moz-border-radius:0.1067rem;
    -ms-border-radius:0.1067rem;
    -o-border-radius:0.1067rem;
}
.coverbox-wrapper .cover{
    width: 100%;
    height: 100%;
}
.descbox-wrapper{
    display: inline-block;
    padding-top:0.2667rem;
    width: 6.4rem;
}
.commentbox-box .desc-wrapper{
    margin:0.4rem 0 0.2rem;
    height:40px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color:rgb(68,81,121);
}
.desc-wrapper .desc-txt{
    color:rgb(68,81,121);
    font-size:14px;
}
.commentbox-box .desc-wrapper+.line-b-solid{
    margin-top: 0.2667rem;
}
.commentbox-box .avatorbox-wrapper{
    margin:0.2rem 0 0.48rem;
}